body {
  text-align: center;
  font-size: large;
  color: rgb(0, 162, 255);
  background-color: aliceblue;
}
li {
  list-style-type: none;
  font-family: "Courier New", Courier, monospace;
}
h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: monospace, cursive;
}
a {
  color: skyblue;
}
p {
  font-family: monospace, cursive;
}
