body {
  text-align: center;
  background-color: beige;
  color: burlywood;
  border-style: dotted;
}
h1 {
  font-size: 80px;
  font-family: "Comic Sans MS";
}
a {
  text-decoration: underline;
  color: rgb(255, 206, 142);
  font-size: 35px;
}
img {
  width: 200px;
  height: 200px;
}
.main {
  padding: 10px;
  margin: 10px;
}
