body {
  text-align: center;
  background-color: pink;
  color: rgb(255, 101, 127);
  border-style: dotted;
  border-color: rgb(255, 0, 157);
  margin: 20px;
  padding: 50px;
}
h1 {
  font-size: 80px;
  font-family: "Comic Sans MS";
  margin: 10px;
  padding: 0%;
}
a {
  color: rgb(255, 0, 43);
}
